.header-page {
  height: 60px;
  background-color: #363636;
  background-image: linear-gradient(transparent 50%, #2f2f2f 50%);
  display: flex;
  align-items: center;
  position: relative;
  .ico-numb {
    padding: 0 20px;
    .numb {
      display: block;
      background: url(../images/12+1.png) no-repeat;
      width: 32px;
      height: 32px;
    }
  }
  .ico-tube {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 50%;
    margin-right: -50px;
    .tube {
      display: block;
      background: url(../images/videotube1.png) no-repeat;
      width: 101px;
      height: 31px;
    }
  }
}

@media screen and (min-width: 320px) {

}